# Solana Network Configuration
SOLANA_RPC=https://api.devnet.solana.com
SOLANA_CLUSTER=devnet

# Payer Keypair Secret (Base58 encoded)
SECRET_KEY=32uCYBoNnUS9CcvBRixicQDprCyPxJ3tCidFgBuZ1jUedKcBST9Q8tRjcURyRdgL4iq8ZGtr2u4xTRNHxowYoVbQ

# Node Default Wallet (Phantom / Solflare)
NODE_WALLET=FK4cdGVfnzqboHtkrNv3EPoP1eM3c6Gf1Ro1Sz3TVwKd

# Orchestrator Server Port & Settings
PORT=4000
PAYOUT_INTERVAL_SEC=30
